@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;;
    background-color: #f3fced;
    /* overflow: hidden;    Ensure no scrollbars  - do we want this? */
}
header {
    /* background-color: rgba(255, 255, 255, 0.4); */
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-left: 40px;
    /* background-color:#557A46; */
    background-color: #f3fced;
    z-index: 10;
    align-items: center; /* vertical alignment */
}
.logo {
    margin-top: 16px;
}
.logo img {
    box-sizing: content-box;
    width: 100%;
    width: 160px;
    height: auto; /* TODO: cant get the height to = height of image */
}
.logo img:hover {
    opacity: 80%;
}
nav {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 90px;
    z-index: 11
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
nav li a {
    color:#226e7f;
    font-weight: bolder;
    font-size: 22px;
    padding: 5px 26px;
    box-sizing: border-box;
	border: 3px solid rgb(195, 137, 21);
    border-radius: 10px;
    text-align: center;
    background-color: rgba(254, 193, 87, 0.8);
}
nav li a:hover {
    color: #F2EE9D;
    background-color: #557a46;
}
/* End of header */
/* Now, banner image */
.banner-container {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    max-height: 500px;
    height: 100%;
    margin-top: 50px;
}
.banner-container img {
    /* display: block; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover; /* image is scaled to cover the entire box while maintaining its aspect ratio. */
    object-position: top; /* doesn't cut off top of image */
    opacity: 0.8;
    z-index: 0;
    position: relative;
}
/* provides an overlay for the quote */
.quote-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    display: block;
    color: #F2EE9D;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px; /* Adjust the value to set the maximum width */
    margin: 0 auto; /* Center the container */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add a text shadow to make it stand out */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    padding: 20px 40px;
    border-radius: 14px;
}
.quote-container h3 {
    font-weight: 400;
    line-height: 1.7em;
    font-size: 22px;
}
/* Title of page */
.topic-title {
    font-size: 40px;
    text-align: center;
}
/* the whole section of previews */
.previews-list {
    display: block;
    margin: 40px 80px 80px 100px;
    padding-left: 0;
}
.previews-list h4 {
    font-size: 26px;
}
.previews-list p {
    font-size: 22px;
    line-height: 1.7em;
}
.previews-list img {
    display: block;
    height: 100%;
    max-height: 500px;
    box-sizing: border-box;
	border: 3px solid #557a46;
    border-radius: 15px;
}
/* read more button */
.read-more {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 40px 0px;
    width: 100%;
    max-width: 140px;
    text-align: center;
    padding: 8px 12px;
    box-sizing: border-box;
	border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #226e7f;
}

.read-more:hover {
    color: #F2EE9D;
    background-color: #557a46;
    border: 3px solid rgb(195, 137, 21);
}

/* one preview container has an image + a preview-text-container */
.preview-container {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #a0bc82;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertical centering */
    padding: 0px 50px;
}
.preview-container:nth-child(2) {
    background-color: #d1dec2;
    flex-direction: row-reverse;
}
/* preview-text-container has a tagline (h4) and a short description (p) */
.preview-text-container {
    display: block;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin: 0px 50px;
}
.preview-container:nth-child(2) .preview-text-container {
    text-align: right;
}
.side-menu, .hamb {
    display: none; /* Hide checkbox */
}
/* For ipads and phones, use hamburger menu */
@media screen and (max-width: 1000px) {
    .hamb{
        display: block;
        position: absolute;
        margin-right: 50px;
        right: 0;
        padding-right: 15px;
        padding-top: 10px;
        cursor: pointer;
    }
    /* Hamburger icon lines */
    .hamb-lineA, .hamb-lineB, .hamb-lineC {
        background: #226e7f;
        display: block;
        height: 6px;
        position: relative;
        width: 40px;
        margin-bottom: 6px;
    }
    /* Toggle menu icon */
    .side-menu:checked ~ nav {
        display: block;
    }
    /* make the middle bar of the hamburger invisible, turn the other two into an x */
    .side-menu:checked ~ .hamb .hamb-lineB {
        background: transparent; 
    }
    .side-menu:checked ~ .hamb .hamb-lineA {
        transform: rotate(-45deg);
        position: absolute;
        top: 11px;
    }
    .side-menu:checked ~ .hamb .hamb-lineC {
        transform: rotate(45deg);
        position: absolute;
        top: 12px;
    }
    /* Upon clicking the hamburger menu icon, a vertical nav will appear */
    nav {
        display: none;
        margin-right: 40px;
        margin-top: 220px;
        line-height: 2em;
        padding: 0px;
    }
    nav li {
        display: block;
        margin-right: 0px;
    }
    nav li a {
        font-size: 18px;
        display: block;
        padding: 8px 20px;
        border: 1px solid rgb(195, 137, 21);
        border-radius: 0px;
        text-align: left;
        background-color: rgb(254, 193, 87);
    }
    nav li a:hover {
        color: #F2EE9D;
        background-color: #557a46;
    }
}
/* Minor responsive changes to make the transition to ipad and mobile view 
less drastic */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .previews-list p {
        font-size: 20px;
        line-height: 1.6em;
    }
    .previews-list {
        margin-left: 30px;
        margin-right: 30px;
    }
}
/* For ipads and smaller */
@media screen and (max-width: 1000px) {
    /* Main content */
    .previews-list {
        margin: 10px 10px 60px 10px;
    }
    .previews-list h4 {
        font-size: 24px;
    }
    .previews-list p {
        font-size: 18px;
        line-height: 1.5em;
    }
    .preview-container {
        padding: 0px 20px;
    }
    .preview-text-container {
        margin: 0px 24px;
    }
}
/* For mobile */
@media screen and (max-width: 800px) {
    /* banner */
    .quote-container h3 {
        line-height: 1.5em;
        font-size: 20px;
    }
    .topic-title {
        font-size: 32px;
    }
    /* Main content */
    .previews-list {
        margin: 10px 10px 60px 10px;
    }
    .preview-container {
        box-sizing: border-box;
        display: block;
        padding-bottom: 40px;
        margin-bottom: 10px;
    }
    .preview-container:nth-child(2) {
        background-color: #a0bc82;
    }
    .preview-text-container {
        display: block;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0px 20px;
    }
    .preview-container:nth-child(2) .preview-text-container {
        text-align: center;
    }
    .previews-list img {
        display: block;
        border: 1px solid #557a46;
        border-radius: 5px;
        margin: 0 auto;
    }
    .read-more {
        font-size: 18px;
        margin: 0 auto;
    }
}

footer {
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    background-color: #557a46;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer p {
    line-height: 1.4em;
}
footer a {
    color: white;
}
footer a:hover {
    color: #fcb437;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}